/* css styling */
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Lusitana&family=Pixelify+Sans&family=Playpen+Sans:wght@700&display=swap");

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-2 {
    font-family: "Redressed", cursive;
    padding-top: 20px;
}

#background {
        background: #ffffff;
        background: linear-gradient(
          180deg,
          rgb(0, 10, 255, 25%) 0%,
          rgb(255, 0, 199, 50%) 100%
        );
      }