/* css styling */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-2 {
  padding-top: 30px;
}

#background {
  background: rgb(0, 10, 255, 25%);
  padding: 0 0 2rem 0;
}
